rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isDeveloper() {
      return isSignedIn() && request.auth.token.email == 'usae4544@gmail.com';
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if isSignedIn() && (request.auth.uid == userId || isDeveloper()) || true;
    }

    match /friendRequests/{requestId} {
      allow read, write: if true;
    }

    match /chats/{chatId} {
      allow read, write: if true;
      
      match /messages/{messageId} {
        allow read, write: if true;
      }
    }

    match /calls/{callId} {
      allow read, write: if true;
      
      match /{document=**} {
        allow read, write: if true;
      }
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
